<!DOCTYPE html>
<html>
<head>
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/posts/update/<%= post.id %>" method="post" enctype="multipart/form-data">
        <!-- Similar form as createPost.ejs but with values filled in -->
    </form>
</body>
</html>
